@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  touch-action: pan-x pan-y;
  height: 100%;
  overflow-x: hidden;

  /* Neutral */
  --op-neutral-50: 0 0% 95%;
  --op-neutral-100: 0 0% 90%;
  --op-neutral-200: 0 0% 80%;
  --op-neutral-300: 0 0% 70%;
  --op-neutral-400: 0 0% 60%;
  --op-neutral-500: 0 0% 51%;
  --op-neutral-600: 0 0% 42%;
  --op-neutral-700: 0 0% 34%;
  --op-neutral-800: 0 0% 25%;
  --op-neutral-900: 0 0% 17%;
  --op-neutral-950: 0 0% 10%;

  /* Marine */
  --op-marine-50: 180 7% 94%;
  --op-marine-100: 195 7% 89%;
  --op-marine-200: 187 8% 79%;
  --op-marine-300: 185 8% 69%;
  --op-marine-400: 191 8% 59%;
  --op-marine-500: 191 8% 50%;
  --op-marine-600: 191 8% 41%;
  --op-marine-700: 189 8% 33%;
  --op-marine-800: 187 7% 25%;
  --op-marine-900: 180 8% 17%;
  --op-marine-950: 195 8% 10%;

  /* Meteor */
  --op-meteor-50: 4 81% 96%;
  --op-meteor-100: 0 84% 93%;
  --op-meteor-200: 5 85% 85%;
  --op-meteor-300: 6 85% 76%;
  --op-meteor-400: 8 87% 67%;
  --op-meteor-500: 16 96% 48%;
  --op-meteor-600: 16 96% 40%;
  --op-meteor-700: 16 96% 32%;
  --op-meteor-800: 16 97% 24%;
  --op-meteor-900: 16 95% 17%;
  --op-meteor-950: 16 96% 10%;

  /* Sunset */
  --op-sunset-50: 15 83% 95%;
  --op-sunset-100: 15 82% 91%;
  --op-sunset-200: 16 85% 82%;
  --op-sunset-300: 18 86% 71%;
  --op-sunset-400: 25 89% 54%;
  --op-sunset-500: 28 96% 42%;
  --op-sunset-600: 28 95% 35%;
  --op-sunset-700: 28 96% 27%;
  --op-sunset-800: 28 96% 21%;
  --op-sunset-900: 29 97% 14%;
  --op-sunset-950: 28 95% 8%;

  /* Citra */
  --op-citra-50: 35 84% 93%;
  --op-citra-100: 37 83% 86%;
  --op-citra-200: 40 87% 68%;
  --op-citra-300: 45 96% 45%;
  --op-citra-400: 45 96% 39%;
  --op-citra-500: 45 96% 33%;
  --op-citra-600: 45 96% 27%;
  --op-citra-700: 45 96% 22%;
  --op-citra-800: 45 95% 16%;
  --op-citra-900: 46 96% 11%;
  --op-citra-950: 45 94% 7%;

  /* Cheddar */
  --op-cheddar-50: 26 81% 94%;
  --op-cheddar-100: 28 82% 89%;
  --op-cheddar-200: 30 85% 76%;
  --op-cheddar-300: 36 89% 55%;
  --op-cheddar-400: 39 96% 42%;
  --op-cheddar-500: 39 96% 36%;
  --op-cheddar-600: 39 96% 30%;
  --op-cheddar-700: 39 97% 24%;
  --op-cheddar-800: 39 96% 18%;
  --op-cheddar-900: 38 97% 12%;
  --op-cheddar-950: 39 95% 7%;

  /* Teal */
  --op-teal-50: 193 29% 94%;
  --op-teal-100: 191 28% 89%;
  --op-teal-200: 190 31% 77%;
  --op-teal-300: 189 33% 65%;
  --op-teal-400: 188 37% 52%;
  --op-teal-500: 186 96% 32%;
  --op-teal-600: 186 97% 26%;
  --op-teal-700: 186 96% 21%;
  --op-teal-800: 186 98% 16%;
  --op-teal-900: 186 96% 11%;
  --op-teal-950: 188 94% 7%;
}

#gdx-bubble-host {
  display: none !important;
}

@layer base {
  body {
    @apply bg-neutral-100 font-sans text-neutral-950;
  }
}

// https://stackoverflow.com/a/56071966
html,
body {
  overscroll-behavior-x: none;
}

@mixin backlight($spread, $size, $colorA, $colorB, $duration, $radius) {
  &:after {
    will-change: 'border, transform, background-position';
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -20;
    height: 100%;
    width: 100%;
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(to bottom left, $colorA, $colorB);
    background-size: 200% 200%;

    transform: scale($size) rotateZ(-0);
    background-position: 0% 50%;
    border-top-left-radius: $radius;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: $radius;

    @media (min-width: 640px) {
      animation:
        animateGlow $duration ease infinite,
        animatePosition $duration * 1.7 ease-in-out infinite,
        animateRotation $duration * 2.5 ease-in-out infinite,
        animateBorder $duration * 4.9 ease-in-out infinite;
    }

    @keyframes animateBorder {
      0% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }

      12% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: 0%;
      }

      25% {
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }

      37% {
        border-top-left-radius: 0%;
        border-top-right-radius: $radius;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: 0%;
      }

      50% {
        border-top-left-radius: 0%;
        border-top-right-radius: $radius;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }

      62% {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
      }

      75% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: 0%;
      }

      87% {
        border-top-left-radius: 0%;
        border-top-right-radius: $radius;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }

      100% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }
    }

    @keyframes animateRotation {
      0% {
        transform: scale($size) rotateZ(-0);
      }

      50% {
        transform: scale($size) rotateZ(0);
      }

      100% {
        transform: scale($size) rotateZ(-0);
      }
    }

    @keyframes animatePosition {
      0% {
        transform: translate(-10%, -10%);
      }

      25% {
        transform: translate(10%, 10%);
      }

      50% {
        transform: translate(-10%, 10%);
      }

      75% {
        transform: translate(10%, -10%);
      }

      100% {
        transform: translate(-10%, -10%);
      }
    }

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }
  }
}

input::placeholder {
  @apply text-neutral-500;
}

textarea::placeholder {
  @apply text-neutral-500;
}

@layer utilities {
  .backglow {
    position: relative;
    @include backlight(6rem, 1, #033ca6, #0396a6, 10s, 50%);
  }

  .better-scrollbar {
    @apply overflow-y-scroll scrollbar scrollbar-track-transparent scrollbar-thumb-neutral-600 scrollbar-corner-transparent scrollbar-thumb-rounded-full scrollbar-w-2;
  }

  .scrollable-hidden-scrollbar {
    @apply overflow-y-auto scrollbar scrollbar-track-transparent scrollbar-thumb-neutral-600 scrollbar-corner-transparent scrollbar-thumb-rounded-full scrollbar-w-0;
  }

  .inset-shadow {
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.4),
      0px 0px 4px rgba(0, 0, 0, 0.5),
      inset 0px 0px 2px rgba(255, 255, 255, 0.3),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }

  .border-glow {
    @apply border border-neutral-500/50 bg-clip-padding backdrop-blur-2xl backdrop-contrast-[1.5] backdrop-saturate-[3];
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.4),
      0px 0px 8px rgba(0, 0, 0, 0.5);
  }

  .inset-shadow-sm {
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.4),
      0px 0px 4px rgba(0, 0, 0, 0.5),
      inset 0px 0px 2px rgba(255, 255, 255, 0.3),
      inset 0px 0px 2px rgba(255, 255, 255, 0.1);
  }
}

.op-ui-MenuItem {
  grid-template-areas: 'label kbd' 'desc kbd';

  [slot='label'] {
    grid-area: label;
  }

  [slot='description'] {
    grid-area: desc;
  }

  [slot='kbd'] {
    grid-area: kbd;
  }
}

.op-ui-Tooltip {
  grid-template-areas: 'label kbd' 'desc kbd';

  [slot='label'] {
    grid-area: label;
  }

  [slot='description'] {
    grid-area: desc;
  }

  [slot='kbd'] {
    grid-area: kbd;
    transform: translateY(0.135em);
  }
}

// Hides the controls of "Video Speed Controller" Chrome extension from the video element
.vsc-controller {
  display: none !important;
}
