@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  touch-action: pan-x pan-y;
  height: 100%;
  overflow-x: hidden;

  --op-white: 0 0% 100%;
  --op-neutral-950: 191 32% 11%; // black
  --op-neutral-900: 191 11% 26%; // charcoal
  --op-neutral-700: 190 6% 40%; // darkGray
  --op-neutral-500: 189 4% 68%; // midGray
  --op-neutral-400: 195 4% 82%; // lightGray
  --op-neutral-200: 180 3% 93%; // offWhite
  --op-neutral-50: 180 11% 98%; // whiteish

  --op-teal-50: 185 48% 86%;
  --op-teal-100: 185 48% 76%;
  --op-teal-200: 185 48% 65%;
  --op-teal-300: 186 48% 55%;
  --op-teal-400: 186 61% 48%;
  --op-teal-500: 186 96% 33%;
  --op-teal-600: 186 93% 28%;
  --op-teal-700: 186 95% 23%;
  --op-teal-800: 186 100% 17%;
  --op-teal-900: 186 94% 12%;
  --op-teal-950: 186 83% 5%;

  --op-yellow-50: 45 89% 90%;
  --op-yellow-100: 45 90% 73%;
  --op-yellow-200: 45 90% 73%;
  --op-yellow-300: 45 90% 65%;
  --op-yellow-400: 45 91% 57%;
  --op-yellow-500: 45 96% 48%;
  --op-yellow-500: 39 96% 48%;
  --op-yellow-600: 39 95% 41%;
  --op-yellow-700: 39 98% 33%;
  --op-yellow-800: 39 94% 25%;
  --op-yellow-900: 39 96% 18%;
  --op-yellow-950: 40 96% 10%;

  --op-orange1-50: 39 89% 90%;
  --op-orange1-100: 39 90% 73%;
  --op-orange1-200: 39 90% 73%;
  --op-orange1-300: 39 90% 65%;
  --op-orange1-400: 39 91% 57%;
  --op-orange1-500: 39 96% 48%;
  --op-orange1-600: 39 95% 41%;
  --op-orange1-700: 39 98% 33%;
  --op-orange1-800: 39 94% 25%;
  --op-orange1-900: 39 96% 18%;
  --op-orange1-950: 40 96% 10%;

  --op-orange2-50: 28 89% 90%;
  --op-orange2-100: 28 90% 73%;
  --op-orange2-200: 28 90% 73%;
  --op-orange2-300: 28 90% 65%;
  --op-orange2-400: 28 91% 57%;
  --op-orange2-500: 28 96% 48%;
  --op-orange2-600: 28 95% 41%;
  --op-orange2-700: 28 98% 33%;
  --op-orange2-800: 28 94% 25%;
  --op-orange2-900: 28 96% 18%;
  --op-orange2-950: 28 96% 10%;

  --op-red-50: 16 89% 90%;
  --op-red-100: 16 90% 73%;
  --op-red-200: 16 90% 73%;
  --op-red-300: 16 90% 65%;
  --op-red-400: 16 91% 57%;
  --op-red-500: 16 96% 48%;
  --op-red-500: 16 96% 48%;
  --op-red-600: 16 95% 41%;
  --op-red-700: 16 98% 33%;
  --op-red-800: 16 94% 25%;
  --op-red-900: 16 96% 18%;
  --op-red-950: 16 96% 10%;
}

#gdx-bubble-host {
  display: none !important;
}

@layer base {
  body {
    @apply bg-neutral-100 font-sans text-neutral-950;
  }
}

// https://stackoverflow.com/a/56071966
html,
body {
  overscroll-behavior-x: none;
}

@mixin backlight($spread, $size, $colorA, $colorB, $duration, $radius) {
  &:after {
    will-change: 'border, transform, background-position';
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -20;
    height: 100%;
    width: 100%;
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(to bottom left, $colorA, $colorB);
    background-size: 200% 200%;

    transform: scale($size) rotateZ(-0);
    background-position: 0% 50%;
    border-top-left-radius: $radius;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: $radius;

    @media (min-width: 640px) {
      animation:
        animateGlow $duration ease infinite,
        animatePosition $duration * 1.7 ease-in-out infinite,
        animateRotation $duration * 2.5 ease-in-out infinite,
        animateBorder $duration * 4.9 ease-in-out infinite;
    }

    @keyframes animateBorder {
      0% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }

      12% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: 0%;
      }

      25% {
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }

      37% {
        border-top-left-radius: 0%;
        border-top-right-radius: $radius;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: 0%;
      }

      50% {
        border-top-left-radius: 0%;
        border-top-right-radius: $radius;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }

      62% {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
      }

      75% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: 0%;
      }

      87% {
        border-top-left-radius: 0%;
        border-top-right-radius: $radius;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }

      100% {
        border-top-left-radius: $radius;
        border-top-right-radius: 0%;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: $radius;
      }
    }

    @keyframes animateRotation {
      0% {
        transform: scale($size) rotateZ(-0);
      }

      50% {
        transform: scale($size) rotateZ(0);
      }

      100% {
        transform: scale($size) rotateZ(-0);
      }
    }

    @keyframes animatePosition {
      0% {
        transform: translate(-10%, -10%);
      }

      25% {
        transform: translate(10%, 10%);
      }

      50% {
        transform: translate(-10%, 10%);
      }

      75% {
        transform: translate(10%, -10%);
      }

      100% {
        transform: translate(-10%, -10%);
      }
    }

    @keyframes animateGlow {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }
  }
}

input::placeholder {
  @apply text-neutral-500;
}

textarea::placeholder {
  @apply text-neutral-500;
}

@layer utilities {
  .backglow {
    position: relative;
    @include backlight(6rem, 1, #033ca6, #0396a6, 10s, 50%);
  }

  .better-scrollbar {
    @apply overflow-y-scroll scrollbar scrollbar-track-transparent scrollbar-thumb-neutral-600 scrollbar-corner-transparent scrollbar-thumb-rounded-full scrollbar-w-2;
  }

  .scrollable-hidden-scrollbar {
    @apply overflow-y-auto scrollbar scrollbar-track-transparent scrollbar-thumb-neutral-600 scrollbar-corner-transparent scrollbar-thumb-rounded-full scrollbar-w-0;
  }

  .inset-shadow {
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.4),
      0px 0px 4px rgba(0, 0, 0, 0.5),
      inset 0px 0px 2px rgba(255, 255, 255, 0.3),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }

  .border-glow {
    @apply border border-neutral-500/50 bg-clip-padding backdrop-blur-2xl backdrop-contrast-[1.5] backdrop-saturate-[3];
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.4),
      0px 0px 8px rgba(0, 0, 0, 0.5);
  }

  .inset-shadow-sm {
    box-shadow:
      0px 1px 3px rgba(0, 0, 0, 0.4),
      0px 0px 4px rgba(0, 0, 0, 0.5),
      inset 0px 0px 2px rgba(255, 255, 255, 0.3),
      inset 0px 0px 2px rgba(255, 255, 255, 0.1);
  }
}

.op-ui-MenuItem {
  grid-template-areas: 'label kbd' 'desc kbd';

  [slot='label'] {
    grid-area: label;
  }

  [slot='description'] {
    grid-area: desc;
  }

  [slot='kbd'] {
    grid-area: kbd;
  }
}

.op-ui-Tooltip {
  grid-template-areas: 'label kbd' 'desc kbd';

  [slot='label'] {
    grid-area: label;
  }

  [slot='description'] {
    grid-area: desc;
  }

  [slot='kbd'] {
    grid-area: kbd;
    transform: translateY(0.135em);
  }
}

// Hides the controls of "Video Speed Controller" Chrome extension from the video element
.vsc-controller {
  display: none !important;
}
